* {
    box-sizing: border-box;
    background-color: black;
    background: rgba(255, 255, 255, 0);
}

.logo {
    border-radius: 50%;
    max-width: 100px;
}

body {
    background: -webkit-linear-gradient(90deg, #32127a, #e0218a);
    background: linear-gradient(90deg, #32127a, #e0218a);
}

.main {
    background: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background: black;
    width: window.devicePixelRatio;
    height: 120px;
}

.menu {
    flex-grow: 1;
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    list-style: none;
}

.menu li {
    margin-right: 10%;
}

.menu li:last-child {
    margin-right: 0;
}

.logo {
    margin-left: 20px;
    margin-right: 160px;
}

.menu a,
.menu .active {
    display: block;
    padding: 0px 5px;
    text-transform: uppercase;
    letter-spacing: .27em;
    color: #000;
}

.menu .active {
    color: #000;
    background-color: #000;
}

.menu:hover {
    color: aqua;
}

.menu a {
    padding: 8px 10px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.image-radius {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

footer {
    position: relative;
    /*относительное позиционирование*/
    width: 100%;
    padding: 20px 50px;
    /*поля для контента*/
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    /*отступ сверху*/
}

.social {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.social li {
    list-style: none;
}

.social li a {
    font-size: 2em;
    color: #fff;
    margin: 0 50px;
    display: inline-block;
    transition: 0.5s;
}

.film_wrapper {
    list-style-position: inside;
    -webkit-column-count: 2;
    column-count: 2;
    list-style-type: decimal;
    margin-top: 3%;
}

p {
    font-family: sans-serif;
}

.film_block {
    -webkit-column-count: 2;
    column-count: 2;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-right: 20%;
}

.sale_wrapper_1,
.sale_wrapper_2 {
    #max-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: inline;
    overflow-x: auto;
}

.sale_wrapper_1::-webkit-scrollbar,
.sale_wrapper_2::-webkit-scrollbar {
    display: none;
}

.block_1,
.block_2 {
    #max-width: 20px;
    margin: 10px;
}

.cinema_list_wrapper {
    color: white;
    font-family: sans-serif;
    float: right;
    margin-right: 12%;
}

h1,
iframe {
    color: white;
    font-family: sans-serif;
    margin-left: 10%;
}

.cinema_list_wrapper ul {
    width: 100px;
    /* ширина, которая вам нужна */
    height: 200px;
    /* высота, которая вам нужна */
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 60%;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: center;
}

h2 {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.news_block {
    border-radius: 10%;
    border: solid;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    margin: 3%;
    font-size: 18px;
}









/* The slider: */
.slider{
    max-width: 60%;
    /* The position of the element is set relative to its original position: */
    position: relative;
    /* Center horizontally: */
    margin: auto;
    height: 60%;
    margin-top: 5%;
}
/* The picture is scaled in relation to the parent element: */
.slider .item img {
    /* The element is resized to fill the block and maintain proportions: */
    object-fit: cover;
    width: 100%;
    height: 60%;
}
/* Back and forward buttons: */
.slider .previous, .slider .next {
    /* Adds an icon to the cursor when it is over the button: */
    cursor: pointer;
    /* The position of the element is set relative to the borders of the browser: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Styling the buttons themselves: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Background fading on hover: */
    transition: 0.6s ease;
    /* Rounding the borders: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* When you hover over the buttons, add the background of the buttons: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Slide animation: */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    /* Set and change the transparency: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}