* {
    box-sizing: border-box;
    background-color: black;
    background: rgba(255, 255, 255, 0);
}

.logo {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-left: 20px;
    margin-right: 160px;
}

body {
    background: -webkit-linear-gradient(90deg, #32127a, #e0218a);
    background: linear-gradient(90deg, #32127a, #e0218a);
}

.main {
    background: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background: black;
    width: window.devicePixelRatio;
    height: 120px;
}

.menu {
    flex-grow: 1;
}

.menu ul {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    list-style: none;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 15%;
}

.menu a,
.menu .active {
    display: block;
    #padding: 0px 5px;
    text-transform: uppercase;
    letter-spacing: .27em;
    color: #000;
}

.menu .active {
    color: #000;
    background-color: #000;
}

.menu a {
    padding: 8px 10px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}


footer {
    position: relative;
    /*относительное позиционирование*/
    width: 100%;
    padding: 20px 50px;
    /*поля для контента*/
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    /*отступ сверху*/
}

.social {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.social li {
    list-style: none;
}

.social li a {
    font-size: 2em;
    color: #fff;
    margin: 0 50px;
    display: inline-block;
    transition: 0.5s;
}

.film_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: inline;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.text {
    font-size: 14px;
    color: antiquewhite;
    text-align: center;
}

.film_block {
    margin-left: 1%;
    margin-bottom: 2%;
    margin-right: 1%;
}

.sale_wrapper {
    #max-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: inline;
    overflow-x: auto;
}

.sale_wrapper::-webkit-scrollbar {
    display: none;
}


.sale_block {
    #max-width: 20px;
    margin: 10px;
}

h1 {
    color: white;
    font-family: sans-serif;
    margin-left: 10%;
}

.cinema_wrapper {
    list-style-position: inside;
    -webkit-column-count: 2;
    column-count: 2;
}

.cinema_list {
    min-width: 200px;
    min-height: 200px;
    padding-top: 20px;
    margin-left: 30%;
}

ol li {
    font-size: 20px;
    margin-bottom: 20px;

}

.caterory {
    font-size: 12px;
    color: #D8BFD8;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: center;
}

h2 {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.news_block {
    border-radius: 30px;
    border: solid;
    border-color: black;
    border-width: 5px;
    #background: #00BFFF;
    padding: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 18px;
}









/* The slider: */
.slider {
    max-width: 60%;
    /* The position of the element is set relative to its original position: */
    position: relative;
    /* Center horizontally: */
    margin: auto;
    height: 60%;
    margin-top: 5%;
}

/* The picture is scaled in relation to the parent element: */
.slider .item img {
    /* The element is resized to fill the block and maintain proportions: */
    object-fit: cover;
    width: 100%;
    height: 60%;
}

/* Back and forward buttons: */
.slider .previous,
.slider .next {
    /* Adds an icon to the cursor when it is over the button: */
    cursor: pointer;
    /* The position of the element is set relative to the borders of the browser: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Styling the buttons themselves: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Background fading on hover: */
    transition: 0.6s ease;
    /* Rounding the borders: */
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* When you hover over the buttons, add the background of the buttons: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Slide animation: */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {

    /* Set and change the transparency: */
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}